body {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* 导航栏 */
.custom-brown-nav {
  background: linear-gradient(to right, #D2B48C, #8B4513);
}

.custom-brown-nav .navbar-brand,
.custom-brown-nav .nav-link {
  color: #fff;
}

.custom-brown-nav .nav-link:hover {
  color: #f0e68c;
}

.custom-brown-nav .nav-link.active {
  color: #ffd700;
}